<% provide(:title, @user.email) %>
<h1><%= t('devise.users.my_page') %>(<%= @user.username %>)</h1>

<p>
  <strong><%= User.human_attribute_name(:username) %>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.prefecture %><%= @user.city %><%= @user.town %>
</p>

<p>
  <strong><%= User.human_attribute_name(:introduction) %>:</strong>
  <%= @user.introduction %>
</p>
